@import '../../assets/css/style.scss';

.billing__info{
    margin-top: 16px;

    &-wrap{
        display: flex;
        gap: 32px;
    }

    &-left,
    &-right{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}